.guide-link {
    padding: 5px;
    background: aliceblue;
    border-radius: 200px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #E27D60!important;
}

.list-group-item {
    background-color: #E27D60!important;
}